In [2]:
import pandas as pd
import numpy as np

In [4]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

In [6]:
labels

['a', 'b', 'c']

In [7]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [8]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
data = pd.Series([1,2,3,4],index=['INA', 'JPN', 'USA', 'RSA'])
data

INA    1
JPN    2
USA    3
RSA    4
dtype: int64

In [15]:
data['INA']

1

In [16]:
data2 = pd.Series([1,2,4,5], index=['INA', 'JPN', 'RSA','IND'])
data2

INA    1
JPN    2
RSA    4
IND    5
dtype: int64

In [18]:
data + data2

INA    2.0
IND    NaN
JPN    4.0
RSA    8.0
USA    NaN
dtype: float64